In [78]:
import pandas as pd

df = pd.read_parquet('processed_pca.parquet')

In [79]:
df.head()

,label,pca_0,pca_1,pca_2,pca_3,pca_4,pca_5,pca_6,pca_7,pca_8,pca_9,pca_10,pca_11,pca_12,tsne_label
66812,0,3.405352,-0.133571,0.022913,-0.656788,0.076587,-1.700207,-0.819912,0.225086,-0.306587,-0.567517,-0.105182,-0.090669,-0.012744,0
26491,0,-6.135670,-0.950632,-1.297717,0.219088,0.041739,0.684836,0.246802,-0.349805,-0.559061,-0.274078,-0.342808,-0.085273,-0.018611,0
56814,0,5.369586,0.137090,0.426693,-0.805127,0.490753,0.604057,-0.149051,0.276510,0.010877,0.378712,-0.531828,-0.469075,-0.354219,0
62888,0,2.679422,-1.730951,-1.150534,-0.729968,0.623516,-0.224546,-0.384776,0.615389,0.002588,-0.207686,-0.446293,-0.219902,-0.290937,0
39233,0,1.892697,-1.829076,-0.262680,0.531497,-0.227475,0.394660,-0.851810,-0.221904,-0.278473,0.264628,-0.123632,-0.224816,-0.151866,0

In [80]:
strength = df.loc[df['label'] == 1, 'tsne_label'].value_counts()

In [81]:
strength.index.to_list()

[0, 6, 5, 2, 4, 1, 7, 3]

In [82]:
from random import sample

for i in strength.index.to_list():
    if i == 0: continue
    n = strength[i]
    condition = (df['label'] == 0) & (df['tsne_label'] == 0)
    population = df[condition].index.to_list()
    idxs = sample(population, k=n)
    df.loc[idxs, 'tsne_label'] = i
    # print(i, len(idxs))

In [83]:
print((df.loc[df['label']==0, 'tsne_label'].value_counts() == df.loc[df['label']==1, 'tsne_label'].value_counts()).all() )
pd.DataFrame(df.loc[df['label']==0, 'tsne_label'].value_counts())

True

            count
tsne_label
0           20594
6            1075
5             910
2             759
4             537
1             499
7             466
3             352

In [84]:
df.to_parquet('preprocessed_final.parquet')